<style>
  .subscribe { margin-right: 16px; }
  .footer-col { margin-bottom: 0 !important; }
</style>
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
        <div style="display: flex">
          <div class="subscribe">
            <a href="{{ 'feed.xml' | relative_url }}">
              <svg class="svg-icon orange">
                <use xlink:href="{{ 'assets/icons/minima-social-icons.svg#rss' | relative_url }}"></use>
              </svg><span>Subscribe</span>
            </a>
          </div>
          <div class="subscribe">
            <img src="{{ 'assets/icons/github.svg' | relative_url }}" width="20" style="vertical-align: text-bottom" >
            <a href="{{ site.ltp.forum_url }}">Discussion Forum</a>
          </div>
          <div class="subscribe">
            <a href="{{ site.ltp.discord_url }}">
              <img src="{{ 'assets/icons/discord.svg' | relative_url }}" width="20" style="vertical-align: text-bottom" >
              <span>Chat</span>
            </a>
          </div>
        </div>
      </div>
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
    </div>

  </div>

</footer>